{
	"parser": "babel-eslint",
	"extends": "react",
	"env": {
		"browser": true,
		"node": true
	},
	"settings": {
		"react": {
			"version": "detect"
		}
	},
	"rules": {
		"indent": ["error", "tab"],
		"no-tabs": 0,
		"react/prop-types": 0,
		"max-len": 0,
		"no-multi-spaces": 0,
		"key-spacing": 0,
		"object-curly-spacing": 0,
		"space-before-function-paren": 0,
		"space-unary-ops": 0
    }
}