body {
	margin: 0;
	background: lightskyblue;
}

#root {
	width: 95vw;
	margin: 1vh auto;
}

.pb {
	padding-bottom: 5px;
}
.bt {
	border-top: 1px solid #323232;
}
.bb {
	border-bottom: 1px solid #323232;
}
.mt {
	margin-top: 7px;
}
.mb {
	margin-bottom: 5px;
}
.ml {
	margin-left: 7px;
}
