body {
	margin: 0;
	background: lightskyblue;
	overflow: hidden;
}
/* body {
	margin: 0;
	background: white;
	overflow: hidden;
} */

#root {
	margin: 0 auto;
}

.title {
	font-size: 1.1em;
	font-weight: normal;
	text-align: left;
}
.name {
	font-size: 1.0em;
	font-variant-caps: small-caps;
	font-weight: bold;
}

.pb {
	padding-bottom: 5px;
}
.bt {
	border-top: 1px solid #323232;
}
.bb {
	border-bottom: 1px solid #323232;
}
.mt {
	margin-top: 7px;
}
.mb {
	margin-bottom: 5px;
}
.ml {
	margin-left: 7px;
}
