#cards {
	position: absolute;
	bottom: 10px;
	right: 10px;
	width: 38vw;
	height: 14vh;
	padding: 2px;
	border: 2px solid #454545;
	border-radius: 4px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: calc(4pt + 0.8vw);
	background: #f0f0f080;

	display: flex;
	flex-direction: row;
	min-width: 0;
}

#cards ul, #redeemed ul {
	display: flex;
	flex-grow: 1;
	overflow-x: auto;
	overflow-y: hidden;
	min-width: 0;
	scrollbar-color: #aaaaaa rgba(210,210,210,0.5);
	scrollbar-width: thin;
	margin: 0 2px 0 2px;
	padding-inline-start: 2px;
}
#cards li, #redeemed li {
	display: inline-block;
	vertical-align: top;
}
#cards input[type="submit"] {
	margin: 2px 2px 2px 0;
}

#redeemed {
	position: absolute;
	top: calc(50% - 17vh);
	left: calc(50% - 21vw);
	width: 42vw;
	height: 35vh;
	padding: 2px 0 2px 5px;
	border: 2px solid #454545;
	border-radius: 7px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: calc(6pt + 0.8vw);
	background: #f0f0f0D0;
}
#redeemed ul {
	display: flex;
	flex-direction: row;
	min-width: 0;
}
#redeemed input[type="submit"] {
	position: absolute;
	top: 0;
	right: 5px;
	vertical-align: top;
}

.card {
	position: relative;
	width: 9vw;
	height: 9vh;
	border: 1px solid black;
	border-radius: 4px;
	font-weight: bold;
	padding: 3px;
	margin: 2px;
	text-align: center;
}
.card input[type="checkbox"] {
	position: absolute;
	top: -2px;
	left: -3px;
}
.card-name {
	position: absolute;
	top: 3px;
	right: 2px;
	text-align: right;
}
.card-type {
	position: absolute;
	bottom: 0;
	width: 100%;
}

.rcard {
	position: relative;
	width: 12vw;
	height: 25vh;
	border: 1px solid black;
	border-radius: 4px;
	font-weight: bold;
	padding: 3px;
	margin: 2px;
	text-align: center;
}

#overlay {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: #f0f0f070;
}
