/* Classes for the map */
path {
	stroke:darkolivegreen;
	stroke-width: 2px;
}
line {
	stroke:darkolivegreen;
	stroke-width: 2px;
}
svg {
	background-color:lightskyblue;
}
.tname {
	fill: #101010;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 1.1em;
	font-weight: bold;
	text-anchor: middle;
	dominant-baseline: middle;
	display: block;
}
.tarmy {
	fill: #101010;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 0.8em;
	font-weight: normal;
	text-anchor: middle;
	dominant-baseline: middle;
	display: block;
}
.c:hover path { opacity: 0.5; }
/* .c:hover .tname { display: block; } */
.s path { opacity: 0.5; }
.s .tarmy { display: block; font-weight: bold; font-size: 1.2em; }
.l path { opacity: 0.5; }

.show { display: block; }
.hide { display: none; }

polyline {
	stroke:black;
	stroke-width: 2;
}

.s polyline {
	animation-name: flag;
	animation-iteration-count: infinite;
	animation-duration: 2s;
}
@keyframes flag {
	0% {
		stroke:black;
	}
	25% {
		stroke:lightgrey;
	}
	50% {
		stroke:white;
	}
	75% {
		stroke:darkgrey;
	}
	100% {
		stroke:black;
	}
}

.player0 { fill:lightgray; }
.player1 { fill:red; }
.player2 { fill:blueviolet; }
.player3 { fill:burlywood; }
.player4 { fill:aqua; }
.player5 { fill:black; }
.player6 { fill:white; }

.Africa.v0 { fill:#deb887; }
.Africa.v1 { fill:#deae70; }
.Africa.v2 { fill:#dea357; }
.Africa.v3 { fill:#de9c47; }
.Asia.v0 { fill:#90ee90; }
.Asia.v1 { fill:#77ee77; }
.Asia.v2 { fill:#5fee5f; }
.Asia.v3 { fill:#47ee47; }
.Asia.v4 { fill:#28ee28; }
.Asia.v5 { fill:#b7eeb7; }
.Australia.v0 { fill:#da70d6; }
.Australia.v1 { fill:#da5cd5; }
.Australia.v2 { fill:#da48d4; }
.Australia.v3 { fill:#da32d4; }
.Europe.v0 { fill:#7ea6ed; }
.Europe.v1 { fill:#6b99ed; }
.Europe.v2 { fill:#588ded; }
.Europe.v3 { fill:#4581ed; }
.Europe.v4 { fill:#3275ed; }
.North-America.v0 { fill:#ffa07a; }
.North-America.v1 { fill:#ff956b; }
.North-America.v2 { fill:#ff8a5c; }
.North-America.v3 { fill:#ff7c47; }
.North-America.v4 { fill:#ff6d33; }
.South-America.v0 { fill:#9370d8; }
.South-America.v1 { fill:#885fd8; }
.South-America.v2 { fill:#7c4ed8; }

.badge {
	stroke:black;
	stroke-width: 1;
}
.title {
	font-size: 1.2em;
	font-weight: normal;
	text-anchor: left;
	dominant-baseline: bottom;
}