/* Classes for the map */
body {
	margin: 0;
}

#root {
	width: 95vw;
	margin: 1vh auto;
}
.game {
	position: relative;
	top: 0;
	left: 0;
}

.control {
	position: absolute;
	bottom: 10px;
	left: 5px;
	width: 15vw;
	height: 40vh;
	padding: 5px;
	border: 2px solid #454545;
	border-radius: 4px;
	font-family: Arial, Helvetica, sans-serif;
	/* background:rgba(210,210,210,0.5); */
	background: #f0f0f080;
}
.name {
	font-size: 1.0em;
	font-variant-caps: small-caps;
	font-weight: bold;
}
input[type="submit"]:focus {
	box-shadow: none;
	border: 1px solid #4d90fe;
	outline: none;
}
input[type="submit"]:hover {
	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
	border: 1px solid #c5c5c5;
	color: #121212;
}
input[type="submit"] {
	margin: 0 0 0 3px;
	padding: 1px 4px 0 4px;
	border: 1px solid #e0e0e0;
	border-radius: 4px;
	cursor: pointer;
	color: #2e3033;
}
input[type="text"]:focus {
	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
	border: 1px solid #c5c5c5;
}
input[type="text"] {
	margin: 2px;
	padding: 3px 3px 3px 7px;
	border: 1px solid #f2f2f2;
	border-radius: 10px;
}
.title {
	font-size: 1.1em;
	font-weight: normal;
	text-anchor: left;
	margin: 0 0 5px 0;
	padding: 0 0 2px 0;
}
.greeting {
	padding-bottom: 3px;
	border-bottom: 1px solid #323232;
}
.bt {
	border-top: 1px solid #323232;
}
.mt {
	margin-top: 7px;
}
.list {
	list-style-type: none;
	font-size: 0.9em;
	padding-left: 0;
	margin-top: 0;
	margin-bottom: 3px;
	height: 20vh;
	overflow-x: hidden;
	overflow-y: scroll;
	scrollbar-color: #aaaaaa rgba(210,210,210,0.5);
	scrollbar-width: thin;
}
.list li {
	margin-bottom: 3px;
}
.list input {
	display: inline-block;
	margin-right: -100px;
	margin-top: 2px;
	vertical-align: top;
}
.list label {
	display: inline-block;
	margin-left: 102px;
	margin-right: -100px;
	overflow-wrap: break-word;
}

.c:hover path { opacity: 0.5; }
.s path { opacity: 0.5; }
.s .tarmy { display: block; font-weight: bold; font-size: 1.2em; }
.l path { opacity: 0.5; }

.show { display: block; }
.hide { display: none; }

.tname {
	font-size: 1.1em;
	font-weight: bold;
}
.tarmy {
	font-size: 0.8em;
	font-weight: normal;
}

/* path {
	stroke:darkolivegreen;
	stroke-width: 2px;
}
line {
	stroke:darkolivegreen;
	stroke-width: 2px;
}
svg {
	background-color:lightskyblue;
}
polyline {
	stroke:black;
	stroke-width: 2;
}
text {
	fill: #101010;
	font-family: Arial, Helvetica, sans-serif;
	text-anchor: middle;
	dominant-baseline: middle;
	display: block;
} */
path {
	stroke:white;
	stroke-width: 2px;
	fill: none;
}
line {
	stroke:white;
	stroke-width: 2px;
}
svg {
	background-color:white;
}
polyline {
	stroke:white;
	stroke-width: 2px;
	fill: none;
}
text {
	fill: white;
	font-family: Arial, Helvetica, sans-serif;
	text-anchor: middle;
	dominant-baseline: middle;
	display: block;
}

.s polyline {
	animation-name: flag;
	animation-iteration-count: infinite;
	animation-duration: 2s;
}
@keyframes flag {
	0% {
		stroke:black;
	}
	25% {
		stroke:lightgrey;
	}
	50% {
		stroke:white;
	}
	75% {
		stroke:darkgrey;
	}
	100% {
		stroke:black;
	}
}

/* .player0 { fill:lightgray; }
.player1 { fill:red; }
.player2 { fill:blueviolet; }
.player3 { fill:burlywood; }
.player4 { fill:aqua; }
.player5 { fill:black; }
.player6 { fill:white; }

.Africa.v0 { fill:#deb887; }
.Africa.v1 { fill:#deae70; }
.Africa.v2 { fill:#dea357; }
.Africa.v3 { fill:#de9c47; }
.Asia.v0 { fill:#90ee90; }
.Asia.v1 { fill:#77ee77; }
.Asia.v2 { fill:#5fee5f; }
.Asia.v3 { fill:#47ee47; }
.Asia.v4 { fill:#28ee28; }
.Asia.v5 { fill:#b7eeb7; }
.Australia.v0 { fill:#da70d6; }
.Australia.v1 { fill:#da5cd5; }
.Australia.v2 { fill:#da48d4; }
.Australia.v3 { fill:#da32d4; }
.Europe.v0 { fill:#7ea6ed; }
.Europe.v1 { fill:#6b99ed; }
.Europe.v2 { fill:#588ded; }
.Europe.v3 { fill:#4581ed; }
.Europe.v4 { fill:#3275ed; }
.North-America.v0 { fill:#ffa07a; }
.North-America.v1 { fill:#ff956b; }
.North-America.v2 { fill:#ff8a5c; }
.North-America.v3 { fill:#ff7c47; }
.North-America.v4 { fill:#ff6d33; }
.South-America.v0 { fill:#9370d8; }
.South-America.v1 { fill:#885fd8; }
.South-America.v2 { fill:#7c4ed8; } */

/* .badge {
	stroke:black;
	stroke-width: 1;
} */
